artifacts_root: artifacts

data_ingestion:
  root_dir: artifacts/data_ingestion
  source_URL: C:/nt/AIOps/Challenge 4 - Image Processing Application for RRU/train.zip
  # source_URL: C:\Users\etarnir\OneDrive - Ericsson\Desktop\nt\AIOps\data\data.zip
  local_data_file: artifacts/data_ingestion/data.zip
  unzip_dir: artifacts/data_ingestion
  artifact_dir: train

prepare_base_model:
  root_dir: artifacts/prepare_base_model
  base_model_path: artifacts/prepare_base_model/base_model.h5
  updated_base_model_path: artifacts/prepare_base_model/base_model_updated.h5

prepare_callbacks:
  root_dir: artifacts/prepare_callbacks
  tensorboard_root_log_dir: artifacts/prepare_callbacks/tensorboard_log_dir
  checkpoint_model_filepath: artifacts/prepare_callbacks/checkpoint_dir/model.h5

training:
  root_dir: artifacts/training
  trained_model_path: artifacts/training/model.h5
  history: artifacts/training/history.h5

evaluation:
  root_dir: artifacts/data_ingestion
  artifact_dir: Validation
  best_model_path: prediction_service/model.h5

pusher:
  best_model_path: prediction_service

